@use "../../presets" as *;
@use "../../mixins" as *;

.portfolio {

    min-height: 100vh;
    padding-bottom: 20px;
    position: relative;

    &-bg {
        background-image: url(../img/istockphoto-1334459498-640_adpp_is.gif);
        filter: blur(3px);
        height: 100vh;
        width: 100vw;
        background-size: cover;
        position: absolute;
        z-index: -2;
        //display: flex;
        //align-items: center;
        // top: 50%;
        //left: 50%;
        //transform: translate(-50%, -50%);

    }

    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 140%;
        text-align: center;

        padding-top: 50px;
        margin-bottom: 20px;
        color: white;
        opacity: 2;
    }

    &-bootstrap {}
}

.portfolio-bootstrap__image {
    width: auto;
    height: 80vh;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.test__picture {}

.test__image {
    width: auto;
    height: 80vh;
}