@use "../../presets" as *;
@use "../../mixins" as *;

.portfolio {
    background-image: url(../img/IMAGE\ 2022-10-26\ 13:55:28.jpg);
    min-height: 100vh;
    padding-bottom: 20px;
    background-size: cover;
    display: flex;
    align-items: center;
    background-position: center;


    &-container {
        max-width: 80vw;
    }

    &__title {
        position: relative;
        font-style: normal;
        font-weight: 500;
        font-size: 50px;
        line-height: 140%;
        text-align: center;

        padding-top: 30px;
        margin-bottom: 50px;
        color: white;
        opacity: 0.5;
        letter-spacing: 4px;
        opacity: 0.9;
        transition: 3.0s;

        &:hover {
            scale: 1.1;
        }



        &::after {
            content: "";
            height: 3px;
            width: 280px;
            background-color: #dc365d;
            position: absolute;
            bottom: -2px;
            left: 50%;
            transform: translateX(-50%);
        }
    }


    &-bootstrap {}
}

.portfolio-bootstrap__image {}

.portfolio-bootstrap__picture {}

.carousel-inner {}

.carousel-item {}